%h1 Slack Channel Exporter

%form{ action: 'export', method: :get }
  %ul.list-unstyled
    - @defaults.each.with_index do |channel, idx|
      %li
        %p
          %button.btn.btn-secondary{ type: :submit, name: 'channel', value: channel }
            = idx == 0 ? 'All' : channel

%form.form-inline{ action: 'export', method: :get }
  .input-group
    %input.form-control{ type: :text, name: 'channel', placeholder: 'Other Channel' }
    %span.input-group-btn
      %button.btn.btn-secondary Go
